.EditVacation {
    min-height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(330deg, #5f5e5e 0%, #b1b1b1 60%, #ffffff 100%);
}

.image-preview {
  display: block;        
  max-width: 420px;        
  height: auto;
  max-height: 220px;
  margin: 12px auto 0;     
  object-fit: cover;     
  border-radius: 8px;
}

.edit-vacation-form {
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: auto;
    box-shadow: 1px 2px black, 0 6px 18px black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-field,
.edit-input-field,
.edit-flight-dates {
  text-align: left;
  margin: 0;
  color: #4d4d4d ;
}

.edit-vacation-title {
    font-size: 32px;
    color: #7b7b7b ;
    text-align: left;
}


.edit-input-field-desc textarea {
    height: 160px;
    overflow-y: auto;
    resize: none;
}

.image-preview, .edit-image-upload-container{
    margin-top: 20px;
}
.MuiTextField-root .MuiInputBase-root {
    background-color: white;
    border-radius: 6px;
}

.edit-input-field {
    margin: 2px;
}

.btns-div{
  display: flex;
  justify-content:center;
  margin: 20px;
  gap: 20px;
}
.price-div{
    color: #4d4d4d ;
    text-align: left;
}
.edit-btn {

    background-color: #00d0ff !important;
    color: white !important;
 
}

.cancel-btn{
    background-color: grey !important;
    color:#333;
    
}