.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.registration-container a,
.registration-container button {
  width: 120px;
  height: 40px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: Arial;
  color: #64748b;
  text-decoration: none;
  cursor: pointer;
}

.mui-icon {
  color: inherit;
}


.registration-container a:focus,
.registration-container button:focus { 
  font-weight: bold; 
  font-size: 18px;
  color:#4d5765
}
