.Menu {
    border-right: 0.5px solid#4d4d4d;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.filter-section{
    margin: 12px;
display: flex;
    align-items: center;
}