.AddVacation {
  background: url("/Assets/images/2.avif") center / cover no-repeat;
  min-height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-vacation-form {
     margin: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    height: auto; 
    box-shadow: 1px 2px black, 0 6px 18px black;
    background-color:white;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-upload-container {
  padding: 6px;
  border: 1.5px solid lightgray;
  margin: 10px;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
  cursor: pointer;
}

.add-vacation-title{
  color: #0083b0;
}
.add-flight-dates{
  margin: 20px;
}

.input-field-desc textarea {
  height: 160px;
  overflow-y: auto;
  resize: none;
}

.MuiTextField-root .MuiInputBase-root {
  background-color: white;
  border-radius: 6px; 
}

.input-field {
  margin: 16px;
}

.add-btn{
    width: 100%;
  background-color: #0083b0 !important;
  color: white !important;
  align-self: center;
}