.LoginScreen {
  display: flex;
  justify-content: center;   
  align-items: flex-start;   
  height: 100vh;
  width: 100%;
 background: linear-gradient(330deg, #5f5e5e 0%, #b1b1b1 60%, #ffffff 100%);
  margin: 0;
  padding-top: 60px; 
}

.login-form {
  border-radius: 10px;
  padding: 60px;
  width: 280px;
  margin: 40px;
  height: auto;
  box-shadow: 1px 2px black, 0 6px 18px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-title {
  color: #00d0ff;
}

.MuiTextField-root .MuiInputBase-root {
  background-color: white;
  border-radius: 6px;
}

.no-account-text{
  font-size: 14px;
  color:#4d4d4d;
}
.login-button {
  width: 100%;
  align-self: center;
  background-color: #00d0ff !important;
  color: white !important;
}

.register-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;               
  text-decoration: none;
  color: #4d4d4d;
  cursor: pointer;
  justify-content: center; 
}

.register-icon {
  font-size: 22px;        
  margin-right: -2px;      
}

.register-label {
  font-size: 20px;
  font-weight: bold;
}