.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
    width: 100%;
    height: 100%;
  background: linear-gradient(135deg, #bee7f1, #0083b0);
}

.registration-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.center-container {
  display: flex;
  align-self: center;
  align-content: center;
  width: 100%;
  align-items: center;   
  justify-content: center; 
  height: 100vh;  
}
.center-container>h2{
  font-style: italic;
  color: white;
}

.sep{
  color: white;
}
.registration-container a,
.registration-container button {
  width: 120px;
  height: 40px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: Arial;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.mui-icon {
  color: inherit;
}

.registration-container a:focus,
.registration-container button:focus { 
  font-weight: bold; 
  font-size: 18px;
 color: white;
}

.user-info{
  display: flex;
  flex-direction: row;
  align-items: center; 
  width: 180px;
}
.user-info>*{
  color: white;
}
