.Menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;     
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(
 #0083b0,
white, white, white
  )
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Arial;
  font-weight: normal;
}

.menu-label, .icon-color>*{
color: white;
font-size: 12px;
}
.nav-link:focus { font-weight: bold; }



.divider {
  height: 1px;
  width: 100%;
  margin: 10px 0;
  background: white ; 
}
