.Menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    padding: 8px 12px;
    border-left: 4px solid transparent;
}

.nav-link.active {
    color: #4b79a1;
    font-weight: bold;
    border-left: 2px solid #4b79a1;
    background-color: transparent;
}

.menu-divider {
    border: 1px solid #4b79a1;
    width: 80%;
}