.InfoScreen {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  margin-bottom: 30px;
}

.back-btn,
.price-btn {
  background: #0b79d0 !important;
  padding: 6px 12px !important;
}

.price-btn {
  width: 50%;
}



.title{
    text-align: left;
  color: #333;
 
  display: flex;
  align-items: center;
  flex-direction: row;

margin: 10px 0;
justify-content: space-between;
}

.title >h2{
margin-left: 20px;
}


.edit{
   margin: 4px;
    border-radius: 360px;
    background-color: rgb(213, 211, 211);
}

.delete{
margin: 4px;
    border-radius: 360px;
    background-color: rgb(213, 211, 211);
}

.edit-and-delete a {
  
  color: #0b79d0;
  text-decoration: none;
}

.edit-and-delete a:last-child {
  color: #ff001e;
}

.main-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 2px black, 0 6px 18px black;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.image-div img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dates {
  position: absolute;
  top: 20px;
  left: 20px;
  background: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 16px;
}

.content {
  overflow-y: auto;
  border-radius: 8px;
  border: solid #777676 2px;
  padding: 30px;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
}

.content p {
  text-align: left;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}