.VacationCard {
  width: 300px;
 box-shadow: 0 2px 6px rgba(17, 35, 30, 20);
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
}

.image-container {
  position: relative;
}

.destination-card {
  position: absolute;       
  bottom: 6px;
  left: 6px;
  right: 6px;              
  background-color: rgba(0, 0, 0, 0.4);  
  padding: 6px 10px;
  border-radius: 6px;
}

.vacation-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.vacation-description {
  flex-grow: 1;
  padding: 12px;
}
.vacation-price {
  margin-top: auto; 
  text-align: right;
  font-weight: bold;
  padding: 6px;
}

.vacation-dates {
  display: flex;
  box-shadow: 1px 1px 1px 0.5px gray;
margin: 4px;
border-radius: 2px;
  align-items: center;   
  gap: 6px;             
  padding: 6px;
}

.calendar-icon {
  font-size: 20px;      
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.vacation-destination {
  position: absolute;
  bottom: 6px;
  left: 6px;
  margin: 0;
  color: white;
  font-size: 26px;
  text-shadow: 0 2px 4px rgba(0, 0, 12, 12);
}

.like-icon {
 margin-left: auto;  
  display: flex;
}

.like-icon >*{
color: rgb(255, 0, 115);
cursor: pointer;
}