.VacationCard {
  width: 250px;
  box-shadow: 0 2px 6px rgb(93, 93, 93);
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 500px;
  cursor: pointer;
}

.VacationCard:hover {
  transition: transform 0.2s, color 0.2s;
  transform: scale(1.05);
}


.edit-and-delete {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.282);
  backdrop-filter: blur(2px);
  padding: 2px;
  border-radius: 20px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.edit-and-delete svg {
  color: #26be08;
}

.edit-and-delete :last-child  svg{
  color: rgb(225, 102, 102);
} 

.image-container {
  position: relative;
  overflow: hidden;
}

.vacation-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.vacation-description {
  overflow-y: auto;

}

.vacation-price {
  margin-top: auto;
  text-align: right;
  font-weight: bold;
  padding: 6px;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.destination-title {
  position: absolute;
  left: 6px;
  bottom: 0;
  color: white;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
  padding: 3px 6px;
  border-radius: 4px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.like-icon {
 display: flex;
 align-content: center;
 align-items: center;
 justify-content: center;
 gap: 4px;
}

.like-icon p{
font-size: 18px;
}

.like-icon svg {
  color: rgb(255, 0, 115);
  cursor: pointer;
}

.more-info-btn {
  align-self: center;
  width: 80%;
  background-color: #00d0ff !important;
  color: white !important;
}


.vacation-price h2 {
   color: #4d4d4d;
  font-size: 24px;
  width: 80%;
  padding: 6px;
  margin: 12px auto;

  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

