.MainLayout {
    height: 100vh;   
    box-sizing: border-box;
    display: grid;
   grid-template-columns: 1fr; 
}

.MainLayout > * {
    font-family: Arial;
}

header {

    height: 80px;          
    overflow: hidden;       
}
footer{
        height: 30px;          
    overflow: hidden;  
}

 main {
    overflow: auto;        
    min-height: 0;
    min-width: 0;
}


