.MainLayout {
    height: 100vh;   
    box-sizing: border-box;
    display: grid;
     grid-template-rows: minmax(100px, 10%) 1fr minmax(30px, 4%);
grid-template-columns: minmax(200px, 12%) minmax(0, 1fr);
}

.MainLayout > * {
    font-family: Arial;
}

header{
  
    border-radius: 8px;
       box-shadow: 0 2px 4px 2px rgba(0,0,0,.35);
       margin: 16px;
  overflow: visible; 
}

header, footer {
    grid-column: span 2;
}



header, footer {
       
    overflow: hidden;       
}

 main {
    overflow: auto;        
    min-height: 0;
    min-width: 0;
}


.MainLayout main {
  grid-column: 1 / -1;
}


.MainLayout.with-aside main {
  grid-column: 2 / -1;
}