.Home {
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
  width: 100%;
background: linear-gradient(330deg, #5f5e5e 0%, #b1b1b1 60%, #ffffff 100%);
  padding: 16px 32px;      
  box-sizing: border-box;
}
.home-header {
  text-align: left;       
  margin-bottom: 16px;
  width: 100%; 
  margin-left: 50px;
  order: 0;
}

.home-header h2 {
  margin: 0;
  font-weight: bold;
  color: #0083b0;             
}


.vacation-list {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start; 
  width: 100%;
}

.no-vacations-text {
  display: flex;
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.no-vacations-text>h2 {
  color: #0083b0;
}