.Home {
  position: relative;
  min-height: 100vh;
  padding: 16px 32px;
  box-sizing: border-box;
  background: #fff;    
  overflow: hidden;
}


.Home::before,
.Home::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 1;           
  transition: opacity .3s ease;
}


.Home.logged-in::before,
.Home.logged-in::after {
  opacity: 0.6;
}

.Home.logged-out::before,
.Home.logged-out::after {
  opacity: 1;
}


.Home::before {
  background-image: url("/Assets/images/day.jpg");
  background-position: 50% 20%;   
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 25%);
}

.Home::after {
  background-image: url("/Assets/images/peakpx.jpg");
  background-position: 50% 10%;   
  clip-path: polygon(0 27%, 100% 57%, 100% 100%, 0 100%);
}

.home-header,
.vacation-list,
.login-text {
  position: relative;
  z-index: 1;
}

.home-header {
  text-align: left;
  margin-bottom: 16px;
  margin-left: 50px;
}

.home-header h2 {
  margin: 0;
  font-weight: bold;
  color: #7b7b7b;
}

.vacation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
  width: 100%;
}

.login-text > h2 {
  margin-left: 50px;
  text-align: left;
  color: #7b7b7b;
}
