.Home {
  position: relative;
  min-height: 100vh;
  padding: 16px 32px;
  box-sizing: border-box;
  background: #fff;    
  overflow: hidden;
}


.Home::before,
.Home::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 1;           
  transition: opacity .3s ease;
}
.home-description {
  position: relative;  
  z-index: 1;         
  font-size: 20px;
  line-height: 1.8;
  width: 90%;
   max-width: 500px; 
  margin: 20px ;
  padding: 8px;
 background: rgba(255, 254, 254, 0.7);
  border-radius: 8px;  
  color: #000000;
white-space: pre-line;
         text-align: left; 
}


.Home.logged-in::before,
.Home.logged-in::after {
  opacity: 0.6;
}

.Home.logged-out::before,
.Home.logged-out::after {
  opacity: 1;
}


.Home::before {
  background-image: url("/Assets/images/day.jpg");
  background-position: 50% 20%;   
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 25%);
}

.Home::after {
  background-image: url("/Assets/images/peakpx.jpg");
  background-position: 50% 10%;   
  clip-path: polygon(0 27%, 100% 57%, 100% 100%, 0 100%);
}

.home-header,
.vacation-list,
.login-text {
  position: relative;
  z-index: 1;
}

.home-header {
  text-align: left;
  margin-bottom: 16px;
  margin-left: 50px;
}

.home-header h2 {
  margin: 0;
  font-weight: bold;
  color: #4d4d4d;
}
.vacation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;   
  width: 100%;
}
.login-text > h2 {
  margin-left: 50px;
  text-align: left;
  font-size: 40px;
  color: #333;
}
